{% extends 'base.html' %}

{% block content %}
    <h2>Задача</h2>

    {% if errors %}
    {% for error in errors %}
    <div class="alert alert-warning" role="alert">
        {{ error }} 
    </div>
    {% endfor %}
    {% endif %}

    <form method="POST">
    <div class="form-group">
        <label>Имя пользователя</label>
        <input type="text" class="form-control" name="username" value="{{ task.username }}" required {% if is_edit %} disabled {% endif %} />
        <label>Email</label>
        <input type="email" class="form-control" name="email" value="{{ task.email }}" required {% if is_edit %} disabled {% endif %}/>
        <label>Текст</label>
        <textarea class="form-control" name="description" required>{{ task.description}}</textarea>
    </div>
    {% if is_edit %}
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="status" name="status" value="1" {% if task.isCompleted() %}checked{% endif %}>
        <label class="form-check-label" for="status">Выполнена</label>
    </div>
    {% endif %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>

    </form>
{% endblock %}
